*{
  
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: none;
    margin: 0px;
    padding: 0%;
    color: #D5CEA3;
}

.intro{
    background-image:url("contra.jpg");
    width:100%;
    height:100%;
}

.header{
    display: flex;
    width: 100%;
    height: 40px;
    margin: auto;
   
}

.mainname{
    display: flex;
    margin-top: 9.5cm;
    font-size: 3rem;
    color: #D5CEA3;
}

.nav{
    display: flex;
    justify-content: flex-end;
    width: calc(1280px);
}

.nav>li{
    margin-left: 85px;
    font-size: x-large;
}

.nav>li>a{
    color: #D5CEA3;
}

.mainplace{
    width: 100%;
    height: 600px;
    background:#ffffff;
}

.int{
    font-size: 20px;
    float: right;
    margin-right: 3rem;
 
    
}

